/* imports*/
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/*base settings */
body{
    min-height:100vh;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to top, #ceaada, #CEFDFF);
}

/*header*/
header{
    background-image: linear-gradient(to top, #783e8c, #292929);
    margin:0;
    text-align: center;
    min-height:15vh;

}

/*navbar*/
nav.navbar{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top:0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    background-color: #292929;
}
nav.navbar a{
    font-size: 1rem;
    font-family: "Trebuchet MS", sans-serif;
    color: #c1c0bc;
    text-align: center;
    padding: 0.9rem ;
    text-decoration: none;
}
.navbar a:hover {
    background-color:#783e8c;
}

/*main container stuff*/
main{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction:column;
    padding: 0;
    margin: 0;
    min-width: available;
    min-height: 80vh ;
}
article, section{
    background-color: #525252 ;
    color: #EBFEFF;
    width: 75vw;
    margin:auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1.6rem;
}
/* footer{
    display:flex;
    justify-content: center;
    background-color:#292929;
    margin:0;
    padding:1.5em;
    margin-top: 1em;
    bottom:0;

}
footer p{
    margin:0;
    display:flex;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 0.8em;
    color: #c1c0bc;

} */

/*text markup & padding*/
article h1, section h1{
    padding:1.9rem;
    padding-left:1.3rem;
    padding-top:1.4rem;
    padding-bottom:0;
    color:#ceaada;
    text-align: start;
    font-size: 2.3rem;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
}

article h2, section h2{
    padding:1.6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color:#ceaada;
    margin:0;
    text-align: start;
    font-size: 1.5rem;
    font-family: 'Varela Round', sans-serif;
    font-weight: normal;
}

article h2 a, article h2 a:visited{
    text-decoration: none; 
    color:#ceaada;
}
article h2 a:hover{
    text-decoration:none;
    color: #eba9ff;
}
article p, section p, article ul li, form.form label.formtext, form.form input.formfield{ /*remove all form stuff when assignment is done */
    padding: 1.6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin:0;
    font-size: 1.2em;
    font-family: 'Trebuchet MS', sans-serif;
 }
article ul li{
    padding-top: 0;
    padding-bottom: 0;
}
article p a, article p a:visited, section p a, section p a:visited, article li a{
    text-decoration:none;
    color:#ceaada;
}
article p a:hover, section p a:hover, article li a{
    text-decoration:none;
    color: #eba9ff;
}
article picture, article.video{
    display: flex;
    flex-direction: row;
    margin:0.5rem;
    object-fit: contain;
}
article picture img{
    display: flex;
    align-self: center;
}
article iframe {
    display: flex;
    justify-content: center;
    width: 560px;
    height: 315px;

}

/* svg settings and positioning */
h2 a svg.github{
    width: 2rem; 
    height: 2rem; 
}

svg.linkedin{
    fill:#0072b1;
    width: 2rem; 
    height: 2rem; 
}
svg.youtube{
    fill: red; 
    width: 2rem;
    height: 2rem;
}
svg.email{
    fill: rgb(136, 156, 255); 
    width: 2rem;
    height: 2rem;
}
/* list stuff */

article#changelog ul.add{
    list-style-image: url("utils/img/icons/add.png");
}
article#changelog ul.remove{
    list-style-image:url("utils/img/icons/remove.png");
}
article#changelog ul.change {
    list-style-image: url("utils/img/icons/change.png");
}
article#changelog ul.todo {
     list-style-image: url("utils/img/icons/todo.png");
 }

 /* stuff about forms, remove after assignment */

 form.form {
    display: flex;
    justify-content: start;
    flex-direction:column;
}

form.form input.formfield{
    padding:0;
    margin-left: 1.3em;
    margin-right: auto;
    max-height: 1.3em;
}

form.form input.formfield:invalid:not(:placeholder-shown){
    border: 3px solid #FF0000FF;
}

button.formButton{
    font-family: "Varela Round", sans-serif;
    margin-left: 1.7rem;
    margin-top: 1rem;
    color:#EBFEFF;
    font-size: 1.4rem;
    background-color: #292929;
    display: flex;
    justify-content: start;
    flex-direction: column;
    max-height: 1.7rem;
    max-width: 5.4rem;
    border-style: outset ;
    border-color: #000000;
    border-width: 2px;
}

button.formButton:hover{
    background-color: #783e8c;
    border-style: outset;
    border-color: #eba9ff;
}



