/* imports*/
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/*base settings */
body{
    min-height:100vh;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to top, #ceaada, #CEFDFF);
}

/*header*/
header{
    background-image: linear-gradient(to top, #783e8c, #292929);
    margin:0;
    text-align: center;
    min-height:15vh;

}

/*navbar*/
nav.navbar{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top:0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    background-color: #292929;
}
nav.navbar a{
    font-size: 1em;
    font-family: "Trebuchet MS", sans-serif;
    color: #c1c0bc;
    text-align: center;
    padding: 0.9em ;
    text-decoration: none;
}
.navbar a:hover {
    background-color:#783e8c;
}

/*main container stuff*/
main{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction:column;
    padding: 0;
    margin: 0;
    min-width: available;
    min-height: 80vh ;
}
article, section{
    background-color: #525252 ;
    color: #EBFEFF;
    width: 75vw;
    margin:auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 1.6em;
}
footer{
    display:flex;
    justify-content: center;
    background-color:#292929;
    margin:0;
    padding:1.5em;
    margin-top: 1em;
    bottom:0;

}
footer p{
    margin:0;
    display:flex;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 0.8em;
    color: #c1c0bc;

}

/*text markup & padding*/
article h1, section h1{
    padding:1.5em;
    padding-left:0.7em;
    padding-top:0.5em;
    padding-bottom:0;
    color:#ceaada;
    text-align: start;
    font-size: 2.3em;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
}

article h2, section h2{
    padding:1.5em;
    color:#ceaada;
    text-align: start;
    font-size: 1.5em;
    font-family: 'Varela Round', sans-serif;
    font-weight: normal;
}
article p, section p, article ul li, form.form label.formtext, form.form input.formfield{ /*remove all form stuff when assignment is done */
    padding: 1.3em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    margin:0;
    font-size: 1.2em;
    font-family: 'Trebuchet MS', sans-serif;
 }
article ul li{
    padding-top: 0;
    padding-bottom: 0;
}
article p a, article p a:visited, section p a, section p a:visited, article li a{
    text-decoration:none;
    color:#ceaada;
}
article p a:hover, section p a:hover, article li a{
    text-decoration:none;
    color: #eba9ff;
}
article picture, article.video{
    display: flex;
    flex-direction: row;
    margin:0.5em;
    object-fit: contain;
}
article picture img{
    display: flex;
    align-self: center;
}
article iframe {
    display: flex;
    justify-content: center;
    width: 560px;
    height: 315px;

}

/* svg settings and positioning */
svg.github{
    /* display: flex; */
    justify-content: center;
}
svg.linkedin{
    fill:#0072b1;
}
svg.youtube{
    fill: red; 
}
/* list stuff */

article#changelog ul.add{
    list-style-image: url("utils/img/icons/add.png");
}
article#changelog ul.remove{
    list-style-image:url("utils/img/icons/remove.png");
}
article#changelog ul.change {
    list-style-image: url("utils/img/icons/change.png");
}
article#changelog ul.todo {
     list-style-image: url("utils/img/icons/todo.png");
 }

 /* stuff about forms, remove after assignment */
form.form {
    display: flex;
    justify-content: start;
    flex-direction:column;
}

form.form input.formfield{
    padding:0;
    margin-left: 1.3em;
    margin-right: auto;
    max-height: 1.3em;
}

form.form input.formfield:invalid:not(:placeholder-shown){
    border: 3px solid #FF0000FF;
}

button.formButton{
    font-family: "Varela Round", sans-serif;
    margin-left: 1.3em;
    margin-top: 0.6em;
    color:#EBFEFF;
    font-size: 1.2em;
    background-color: #292929;
    display: flex;
    justify-content: start;
    flex-direction: column;
    max-height: 1.3em;
    max-width: 5em;
    border-style: outset ;
    border-color: #000000;
    border-width: 2px;
}

button.formButton:hover{
    background-color: #783e8c;
    border-style: outset;
    border-color: #eba9ff;
}



/*mobile phone/responsive  media query*/
/* @media only screen and (max-width: 500px)
{ */
    /* when display gets small, header gets removed for more text display */
    /* header{
        display:none;
    } */
    /* h2 headers get lose padding when less width is available*/
    /* article h2, section h2{
        margin:0;
    }
} */

/*When screen gets too small for picture display them in a row*/
/* @media only screen and (max-width: 860px) {
    article picture {
        display: flex;
        flex-direction: column;
        margin: 0.5em;
        object-fit: contain
    }

    picture img {
        display: flex;
        align-self: center;

    }
} */
